

.beerCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid grey;
    width: 650px;
    /* margin-left: 400px; */
    font-weight:300;
}

.imageCard{
    display: flex;
    justify-content: center;
    align-items: center;

}

.imageCard img{
   height: 150px; 
   margin-right: 20px;

}


.beerLink{
    text-decoration: none;
    color: black;
}

.textCard{
display: flex;
justify-content: flex-start;
flex-direction: column;
font-weight:300;
}

.textCard h3{
    color: grey;
    font-weight:300;

}